# Virtual environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Power BI files are large
*.pbix

*.db